@inject ProtectedSessionStorage ProtectedSessionStore
@inject MapManagerService MapManagerService
@using System.Collections.ObjectModel
@using Fracture.Server.Components.Layout
@using Fracture.Server.Components.Popups
@using Fracture.Server.Components.UI
@using Fracture.Server.Modules.Database
@using Fracture.Server.Modules.Items.Models
@using Fracture.Server.Modules.MapGenerator.Models.Map
@using Fracture.Server.Modules.MapGenerator.Services
@using Fracture.Server.Modules.MapGenerator.UI
@using Fracture.Server.Modules.MapGenerator.UI.Models
@using Fracture.Server.Modules.Pathfinding.Models
@using Fracture.Server.Modules.Shared
@using Fracture.Server.Modules.Shared.ImageChangers
@using Fracture.Server.Modules.Users
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@implements IDisposable
@page "/game"

@rendermode @(new InteractiveServerRenderMode(false))

@layout GameLayout
@inject IUsersRepository UsersRepository
@inject NavigationManager NavigationManager
@inject IItemsRepository ItemsRepository
@inject VersionInfoProvider VersionInfoProvider
@inject BackgroundImageChanger BackgroundImageChanger
<link rel="icon" type="image/png" href="assets/icons/favicon.png" />

<link rel="icon" type="image/png" href="assets/favicon.png" />

<link rel="icon" type="image/png" href="assets/favicon.png" />

<div id="container">
	<div class="leftPanel borderPanel">
		<div class="stats">
			<div class="info">
				<div class="info-content">
					<div @onclick="() => _popup.ShowComponent<StatsPopup>()">
						<img src="assets/icons/infobutton.svg" />
					</div>
				</div>
			</div>
			<UserStats Equipment="_equipment"></UserStats>
		</div>
		<div class="equipment">
			<div class="info">
				<div class="info-content">
					<div @onclick="() => _popup.ShowComponent<EquipmentPopup>(_equipmentPopupParameters)">
						<img src="assets/icons/infobutton.svg" />

					</div>
				</div>
			</div>
			<EquipmentTable Equipment="@_equipment" />
		</div>

	</div>
	<div class="midPanel borderPanel">
		<div class="map">
		</div>
		<div class="eqManager">
		</div>
		<div class="statManager ">
		</div>
		<div class="dialogueWindowBg"
			 style="background: url(@BackgroundImage.ImagePath);background-repeat: no-repeat;  background-size: cover; ">
			<div class="dialogueWindow" @onkeydown="GetBacgroundAsync">
				Fracture @VersionInfoProvider.InformationalVersion<br />
				tutaj log mojej gry<br />
				<PopupContainer @ref="_popup"></PopupContainer>
			</div>
		</div>
		<div class="crystalBox">
			<div class="actionButton">
				<div class="actionButton-content"><img src="assets/icons/swordbutton.svg" /></div>
			</div>
			<div class="actionButton">
				<div class="actionButton-content"><img src="assets/icons/shieldbutton.svg" /></div>
			</div>
			<div class="crystalCircle">
				<div class="crystal">
					<img src="assets/icons/crystal.png" alt="">
				</div>
			</div>
			<div class="actionButton">
				<div class="actionButton-content"><img src="assets/icons/skipbutton.svg" /></div>
			</div>
			<div class="actionButton">
				<div class="actionButton-content"><img src="assets/icons/chatbutton.svg" /></div>
			</div>
		</div>


	</div>
	<div class="rightPanel borderPanel">
		<div class="journal">
			<div class="info">
				<div class="info-content">
					<div @onclick="() => _popup.ShowComponent<JournalPopup>()"></div>
					<img src="assets/icons/infobutton.svg" />
				</div>
			</div>

			<div class="journalPage">
				<p>
					<span>Log1:<br></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum numquam
					quaerat officiis placeat ipsa cupiditate nobis dolore perferendis, odit culpa perspiciatis, vero
					delectus ex omnis ad magni, deserunt quae? Ex.
				</p>
				<p>
					<span>Log2:<br></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum numquam
					quaerat officiis placeat ipsa cupiditate nobis dolore perferendis, odit culpa perspiciatis, vero
					delectus ex omnis ad magni, deserunt quae? Ex.
				</p>
				<p>
					<span>Log3:<br></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum numquam
					quaerat officiis placeat ipsa cupiditate nobis dolore perferendis, odit culpa perspiciatis, vero
					delectus ex omnis ad magni, deserunt quae? Ex.
				</p>
			</div>
		</div>
		<div class="miniMap">
			<div class="info">
				<div class="info-content">
					<div @onclick="() => _popup.ShowComponent<MapPopup>(_mapPopupParameters)">
						<img src="assets/icons/infobutton.svg" />
					</div>
				</div>
			</div>
			<MapView Map="Map" MapDisplayData="_mapDisplayData" Path="Path"></MapView>
		</div>
		<div class="settings">
			<div class="settingsBtn">
				<div class="settingsBtn-content">
					<img src="assets/icons/settingsbutton.svg" />
				</div>
			</div>
			<div class="settingsBtn">
				<div class="settingsBtn-content">
					<img src="assets/icons/hourglassbutton.svg" />
				</div>
			</div>
			<div class="settingsBtn">
				<div class="settingsBtn-content">
					<div @onclick="@Logout"><img src="assets/icons/exitbutton.svg" /></div>
				</div>
			</div>

		</div>
	</div>
</div>
